VoiceSource filter=lfs diff=lfs merge=lfs -text
audio_db filter=lfs diff=lfs merge=lfs -text
my_train.py filter=lfs diff=lfs merge=lfs -text
people_say.txt filter=lfs diff=lfs merge=lfs -text
people_time.txt filter=lfs diff=lfs merge=lfs -text
rename.py filter=lfs diff=lfs merge=lfs -text
train.py filter=lfs diff=lfs merge=lfs -text
QTtest.py filter=lfs diff=lfs merge=lfs -text
models filter=lfs diff=lfs merge=lfs -text
infer_recognition.py filter=lfs diff=lfs merge=lfs -text
eval.py filter=lfs diff=lfs merge=lfs -text
output.json filter=lfs diff=lfs merge=lfs -text
output_srt.py filter=lfs diff=lfs merge=lfs -text
translate.py filter=lfs diff=lfs merge=lfs -text
utils filter=lfs diff=lfs merge=lfs -text
create_data.py filter=lfs diff=lfs merge=lfs -text
infer_contrast.py filter=lfs diff=lfs merge=lfs -text
output.srt filter=lfs diff=lfs merge=lfs -text
output_json.py filter=lfs diff=lfs merge=lfs -text
people_result.txt filter=lfs diff=lfs merge=lfs -text
test_fenge filter=lfs diff=lfs merge=lfs -text
audio filter=lfs diff=lfs merge=lfs -text
